services:
  workspace:
    build:
      context: .
      dockerfile: .docker/Dockerfile.cuda
      args:
        ARG_BUILD_FROM: $BUILD_FROM
        ARG_USERNAME: $CONTAINER_USERNAME
        ARG_USER_UID: $CONTAINER_USER_UID
        ARG_USER_GID: $CONTAINER_USER_GID
        ARG_WORKSPACE_ROOT: $CONTAINER_WORKSPACE_ROOT
    image: $IMAGE_NAME:$IMAGE_TAG
    hostname: $CONTAINER_HOSTNAME
    restart: always
    tty: true
    shm_size: ${SHM_SIZE:-32gb}
    ulimits:
      stack: 67108864
      memlock: -1
    ipc: $CONTAINER_IPC
    ports:
      - "$HOST_SSH_PORT:$CONTAINER_SSH_PORT"
    volumes:
      - "$HOST_WORKSPACE_ROOT:$CONTAINER_WORKSPACE_ROOT"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ["${CONTAINER_CUDA_DEVICE_ID}"]
              capabilities: [gpu]
networks:
  default:
    name: $CONTAINER_NETWORK_NAME
    external: true
